<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<div class="admin-container">
  <%= render '/admin/shared/sidebar' %>

  <div class="admin-content">
    <table class="admin-table">
      <thead>
        <tr>
          <th>id</th>
          <th>name</th>
          <th>year</th>
          <th>description</th>
          <th>image_url</th>
          <th>is_showing</th>
          <th>created_at</th>
          <th>updated_at</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @movies.each do |movie| %>
          <tr>
            <td><%= link_to movie.id, edit_admin_movie_path(movie) %></td>
            <td><%= movie.name %></td>
            <td><%= movie.year %></td>
            <td><%= movie.description %></td>
            <td><%= link_to movie.image_url, movie.image_url %></td>
            <td><%= movie.is_showing ? '上映中' : '上映予定' %></td>
            <td><%= movie.created_at %></td>
            <td><%= movie.updated_at %></td>
            <td><%= link_to 'Edit', edit_admin_movie_path(movie), class: 'button' %></td>
            <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Movie', new_admin_movie_path, class: 'button' %>
  </div>
</div>
