<p id="notice"><%= notice %></p>

<h1>Movie Details</h1>

<p>
  <strong>Movie Title:</strong>
  <%= @movie.name %>
</p>

<p>
  <strong>Release Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Poster Image:</strong>
  <%= image_tag(@movie.image_url) if @movie.image_url.present? %>
</p>

<p>
  <strong>Is Showing:</strong>
  <%= @movie.is_showing ? 'Yes' : 'No' %>
</p>

<%= link_to 'Edit', edit_admin_movie_path(@movie) %> |
<%= link_to 'Back', admin_movies_path %>
