<div class="row justify-content-center">
  <div class="col-md-5">
    <h2>新規会員登録</h2>

    <%= form_with model: resource, url: user_registration_path, local: true do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control', autofocus: true %>
      </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
      </div>

      <div class="form-group">
        <%= f.submit "会員登録", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
